.App {
  height: 93vh;
  background-color: rgb(37, 37, 71);
  
}

.contaner {
  background-color: rgb(37, 37, 71);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}


.text {
  color: white;
  margin: 0;
  padding: 8px;
}
